{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<section class="hero">
    <div class="container">
        <div class="welcome-content">
            <h1 class="name-title">Gagik Shmavonyan</h1>
            <p class="position-title">Professor at National Polytechnic University of Armenia</p>
        </div>
        <div class="hero-image">
            <img src="{{ profile.image.url }}" alt="Profile Picture" class="rounded-image">
        </div>
    </div>
</section>


<section class="contact-info">
    <div class="container">
        <div class="email">
            <img src="{% static 'images/email_icon.png' %}" alt="Email Icon" class="icon">
            <span>gshmavon@yahoo.com</span>
        </div>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100012226841418" target="_blank"><img src="{% static 'images/facebook_icon.png' %}" alt="Facebook" class="icon"></a>
            <a href="https://hy.wikipedia.org/wiki/%D4%B3%D5%A1%D5%A3%D5%AB%D5%AF_%D5%87%D5%B4%D5%A1%D5%BE%D5%B8%D5%B6%D5%B5%D5%A1%D5%B6" target="_blank"><img src="{% static 'images/wikipedia_icon.png' %}" alt="Wikipedia" class="icon"></a>
            <a href="https://www.linkedin.com/in/gagik-shmavonyan-66165424/?originalSubdomain=am" target="_blank"><img src="{% static 'images/linkedin_icon.png' %}" alt="LinkedIn" class="icon"></a>
        </div>
    </div>
</section>

<section class="about-section">
    <h1>About me</h1>
    {% for i in about_info %}
        <p>{{ i.text }}</p>
        <br>
    {% endfor %}
</section>

<section class="about-section">
    <h1>Education</h1>
    {% for i in education_list %}
        <p>{{ i.info }}</p>
    {% endfor %}
</section>


<section class="about-section">
    <h1>Experience</h1>
    {% for i in experience_list %}
        <p>{{ i.date }}</p>
        <p>{{ i.info }}<b>{{ i.location }}</b></p>
        <br>
    {% endfor %}
</section>


<style>
    .name-title {
        font-family: 'Playfair Display', serif; /* Шрифт для заголовка */
        font-size: 64px;
        font-weight: 700;
        line-height: 1.1;
        color: #000; /* Черный цвет */
        text-align: center;
        margin-bottom: 10px;
    }

    .position-title {
        font-family: 'Lora', serif; /* Шрифт для подзаголовка */
        font-size: 20px;
        font-weight: 600;
        color: #5A6780; /* Серо-синий цвет */
        text-align: center;
        margin-top: 0;
    }

    @media (max-width: 768px) {
        .name-title {
            font-size: 42px; /* Уменьшаем размер шрифта на мобильных */
        }
        .position-title {
            font-size: 16px;
        }
    }

    .about-section {
        padding: 50px 20px;
        background-color: #F9F9F9; /* Светло-серый фон */
        font-family: 'Arial', sans-serif;
    }

    .about-section h1 {
        font-family: 'Playfair Display', serif;
        font-size: 36px;
        font-weight: bold;
        color: #1E90FF; /* Голубой цвет для заголовка */
        text-align: center;
        margin-bottom: 20px;
    }

    .about-section p {
        font-size: 18px;
        line-height: 1.8;
        color: #333; /* Тёмно-серый цвет для текста */
        text-align: justify;
        max-width: 1200px;
        margin: 0 auto; /* Центрируем текст */
    }

    @media (max-width: 768px) {
        .about-section h1 {
            font-size: 28px; /* Меньше заголовок на мобильных */
        }
        .about-section p {
            font-size: 16px;
        }
    }

</style>
{% endblock %}
